<div class="container">
  <h2>UMATracker使用上の注意</h2>
  <!--
  <p>
    普段我々が見ている動画ファイルっていったいなにでできているかご存知でしょうか？動画ファイルは、たくさんの画像ファイルによってできていると考えてもらえば良いです。その画像をぱらぱらとめくっていくことにより物が動いているように見える物が動画ファイルです。この説明はかなり省略された物ですが、物体を追跡するという目標をお持ちの皆様ならこの認識で大丈夫です。
  </p>
  <p>
    では画像ファイルって何でしょう？画像ファイルはたくさんの数値が並んだもののことです。ではどういう風に並んでいるのでしょう。このことは画像を拡大すると理解できます。画像を拡大すると、ブロックの様なものが見えてきます。このブロック一つ一つに数値が入っています。この数値の違いで色を表現します。
  </p>
    <p>
    ブロックに入っている数値ですが、数値の入り方によって形式が変わります。
    画像ファイルをPC上で扱うには大まかに、二つの形式が存在します。グレースケイル画像とカラー画像です。まず、グレースケイル画像について説明します。グレースケイル画像のピクセルにはたったひとつの数値しか存在していません。この数値の大きさによって明るさを表現した物が白黒画像です。一方で、カラー画像には、ひとつのピクセルに3つの数値が入っています。赤であれば(255,0,0)、緑であれば(0,255,0)、青は(0,0,255)という風になっています。この色を使うことで鮮やかな画像を表示しています。
    </p>
    -->
</div>
