[submodule "lib/closure-library"]
	path = lib/closure-library
	url = git@github.com:ymnk13/closure-library.git
	ignore = dirty
[submodule "lib/blockly"]
	path = lib/blockly
	url = git@github.com:ymnk13/blockly.git
	ignore = dirty
[submodule "lib/python/FilterIO"]
	path = lib/python/FilterIO
	url = git@github.com:Licht-T/FilterIO.git
	ignore = dirty
